@import 'tailwindcss';

@tailwind utilities;

html,
body,
:root {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    --primary: #3d1977;
    --secondary: #d7bcff;
    --third: #e8d8ff;
    background-color: var(--secondary);
}